.App {
  text-align: center;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.popup-dimensions {
  width: 400px;
  min-height: 400px;
}

.logo-dimensions {
  width: 200px;
  height: 100px;
}

.settings-icon {
  color: #536DFF
}